* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-body: #fcfbfd;
  --blue-300: #2d9cdb;
  --blue-500: #2f80ed;
  --gray-300: #f0eef0;
  --gray-500: #e0dfe2;
  --shadow-blue: rgba(45, 156, 219, 0.3);
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-body);
}

.container {
  max-width: 28rem;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form-header__title {
  font-size: 1.5rem;
}

.form {
  width: 100%;
}

.form-input__header--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.form-input + .form-input:last-of-type {
  margin-bottom: 2.25rem;
}

.form-input__label {
  font-size: 0.875rem;
}

.form-input__element,
.form-button__element {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid var(--gray-500);
  background-color: var(--gray-300);
  outline: none;
}

.form-input__element {
  transition: background-color, border-color 0.2s ease-in;
}

.form-input__element:focus {
  background-color: #fff;
  border: 2px solid var(--blue-300);
  box-shadow: 0 0 1px 3px var(--shadow-blue);
}

.form-button__element {
  background-color: var(--blue-500);
  border: none;
  transition: background-color 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-button__element:focus,
.form-button__element:hover {
  background-color: var(--blue-300);
}

.form-button__element:focus {
  box-shadow: 0 0 1px 3px var(--shadow-blue);
}

.has-account {
  margin-top: 2.875rem;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--blue-500);
}

.link--small {
  font-size: 0.875rem;
}

.link:hover {
  color: var(--blue-300);
  text-decoration: underline;
}
